{{- if .Values.createNamespace }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace }}
  labels:
    app: chat-app
    gateway-access: "true"
    {{- include "chat-app.labels" . | nindent 4 }}
{{- end }}
