{{- if .Values.createNamespace }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace }}
  labels:
    app: ask-api
    gateway-access: "true"
    {{- include "ask-api.labels" . | nindent 4 }}
{{- end }}
